.app {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100svw;
}

.buttons {
  margin-top: 20px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.sumar {
  background-color: violet;
  color: white;
}
.sumar:hover {
  background-color: brown;
}

.restar {
  background-color: orange;
  color: white;
}
.restar:hover {
  background-color: brown;
}
